@page "/counter"

<h1>Hum</h1>

<p>En vrais on à pas eu le temps le faire mais voilà :)</p>


@*<p role="status">Current count: @currentCount</p>*@

@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

@code {
    @using Battleship

    //private Game game = new();
}
