@page "/"

<div id="bg-image"></div>

<div id="menu">
    <h1>Battleships!</h1>

    <NavLink class="nav-link" href="counter">
        <span class="oi oi-plus" aria-hidden="true"></span> Start Game
    </NavLink>
</div>


<style>

    body {
        background-image: url('images/Battleship.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        backdrop-filter: blur(15px);
        position: relative;
    }

    #menu {
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
    }

    h1 {
        font-size: 8vw;
        letter-spacing: 10px;
        color: white;
    }
</style>
